/*Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: #080808;
    width: 1280px;
    height: 700px;
}

.navbar {
    display: flex;
    background-color: #777777;
    width: 1110px;
    height: 70px;
    margin-left: 85px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    width: auto;
    height: auto;
    margin-top: 24px;
    margin-left: 180px;
    gap: 70px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: bottom;
    letter-spacing: 1%;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00ff7b;
}

.social-links {
    list-style: none;
    display: flex;
    width: 107.54px;
    height: 17px;
    margin-top: 26px;
    margin-left: 92px;
}

.social-item {
    margin: 0 10px 0 10px
}

.intro {
    color: white;
    width: 548px;
    height: auto;
    margin-top: 201px;
    margin-left: 180px;
    margin-right: auto;
    gap: 30px;
}

.name {
    font-family: Raleway;
    font-weight: 800;
    font-style: bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
}

.tagline {
    width: auto;
    height: auto;
    gap: 10px;
    font-family: monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1%;;
}

.button {
    width: 308px;
    height: auto;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    font-weight: 700px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 21px 64px 21px 64px;
    gap: 10px;
    background-color: #3F8E00;
    box-shadow: 0px 8px 30px 0px #3F8E0080;
}

.portrait {
    width: 350px;
    height: 350px;
    margin-top: 150px;
    margin-right: 180px;
    margin-bottom: 200px;
    border-radius: 50%;
}

.skills {
    color: white;
    width: auto;
    height: auto;
    position: absolute;
    top: 557px;
    left: 180px;
    gap: 10px;
}

.skills h1 {
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}